{% extends "base.html" %}
{% block content %}
    {% if message not in ['', 'None']  %}
        <div class="message w_100 f_left">
            <div class="message_content">{{ message }}</div>
        </div>
    {% endif %}
    <section class="w_100 f_left">
        <div class="container w_100 f_left">
            <div class="content w_100 f_left">
                <form method="post" action="{{ url_for('upload') }}"  enctype="multipart/form-data">
                    <div class="upload f_left">
                        <div class="upload_container f_left w_100">
                            <input id="imagefile" name="file1" type="file" />
                        </div>
                    </div>
                    <div class="upload f_left">
                        <div class="upload_container f_left w_100">
                            <input id="imagefile2" name="file2" type="file" />
                        </div>
                    </div>
                    <div class="submit w_100 f_left">
                        <input type="submit" />
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}